<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/dashboard">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#todo" aria-expanded="false" aria-controls="todo">
                <i class="icon-square-plus menu-icon"></i>
                <span class="menu-title">Todo</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="todo">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/todo">List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/todos/create">Create</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#users" aria-expanded="false" aria-controls="users">
                <i class="icon-circle-plus menu-icon"></i>
                <span class="menu-title">Users</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="users">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/users">List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/users/create">Create</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/account">
                <i class="icon-box menu-icon"></i>
                <span class="menu-title">Account</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/documentation">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Documentation</span>
            </a>
        </li>
    </ul>
</nav>